@import url("../fonts/IranSans/style.css") ;
body {
    font-family: IRANSans;
    font-weight: 300;
}
.panel {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    margin-bottom: 30px;
}
.panel.panel-headline .panel-heading {
    border-bottom: none;
}
.line_height_20 {
    line-height: 20px!important;
}
.margin-left-1 {
    margin-left: 1%;
}
.panel .panel-heading, .panel .panel-body, .panel .panel-footer {
    padding-left: 25px;
    padding-right: 25px;
}

.metric {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #DCE6EB;
}
.btn-primary {
    background-color: #3c8dbc;
    border-color: #367fa9;
}
.media-manager {
    margin-top: 1%;
}
.list-unstyled, .chart-legend, .contacts-list, .users-list, .media-content {
    list-style: none;
    margin: 0;
    padding: 0;
}
.media-content li {
    float: left;
    width: 215px;
    border: 1px solid #eee;
    margin-bottom: 10px;
    margin-right: 5px;
}
.padding_top_9{
    padding-top: 9%!important;
}
.panel.panel-headline .btn {
    color: #ffffff;
}
.panel.panel-headline .btn-default {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
    color: #ffffff;
}
.margin-right-1{
    margin-right: 1%;
}
.panel.panel-headline button#search-btn {
    background: #3c8dbc;
    color: #ffff;
}
a.btn.btn-sm.btn-primary.grid-trash-o {
    background-color: red;
    border-color: red;
}
.cursor_wait{
    cursor: wait !important;
}
.panel-nav {
    height: 4%;
    display: list-item;
    width: 100%;
    margin-top: 1%;
    background-color: #b4bcc2;
}
.img-category-thumbnail {
    font-size: 135px;
}
.center {
    margin: auto;
    width: 67%;
}
a.grid-row-delete {
    color: red;
}
#create_category_form ::placeholder {
    font-size: 12px;
    color: #6c757d87;
}
a.grid-row-delete i {
    padding-right: 50%;
}
a.media-attachment-chexbox {
    padding-left: 3%;
}
.thumbnail-back {
    font-size: 118px;
}
a.selectbox {
    color: #ffffff;
}
.showThumbial {
    width: 100%;
    padding: 4px;
    height: 135px;
}
.img-file-thumbnail {
    font-size: 127px;
}
.jstree-root{
    background: #beebff;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999;
    display: inline;
    font-weight: 500;
    padding-left: 3%;
    padding-right: 3%;
}
label#label_modal_sweet {
    font-size: 13px;
    margin-top: 2%;
}
#sweet_image {
    cursor: pointer;
}
.pointer {
    cursor: pointer;
}
.color_green {
    color : #28a745 !important;
}
.back_public {
    background-color: #245571;
    color: white;
}
.detail_image {
    font-size: 18px;
}
div.user_detail {
    text-align: left;
}
.icon_info_image{
    margin-left: 1%;
}
.no_padding {
    display: flex;
}
.color_white {
    color: #FFFFFF!important;
}
#basic-addon1 {
    width: 20%;
    padding-top: 1%;
}
.user_detail.row {
    margin-top: 5%;
}
.margin-top-1 {
    margin-top: 1%;
    line-height: 1.5;
}
.margin-top-4 {
    margin-top: 4%;
}
.my_crop_image {
    width: 100%;
    line-height: 0;
}
.myicon {
    margin-right: 3%;
    font-size: 14px;
}
.filemanager_cateogry_form {
    margin: auto;
    width: 50%;
}
.sweet_icon {
    font-size: 250px;
}
span.list_name_icon {
    margin-left: 10%;
}
a.btn.btn-sm.btn-success.uploadfile {
    margin-bottom:0.9%;
}
#bulk_delete {
    background-color: red;
    border-color: red;
}
.hidden {
    display: none;
}
.breadcrumb-item+.breadcrumb-item {
    padding-left: 0px;
}
.dimension {
    width: 25%;
    float: left;
    margin-right: 5%;
}
.padding-0 {
    padding: 0px !important;
}
.width-100 {
    width: 100%!important;
}
button.font-size-14 {
    font-size: 13.5px !important;
    margin-top: 0.5%!important;
}
.width-30 {
    width: 30%;
}
span#basic-insert {
    width: 100%;
    font-size: 15px;
    padding-top: 7%;
}
.border-doted-left-1{
    border-left: 1px dotted !important;
    padding: 4%;
    min-width: 23px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 5px;
}
.selected_insert {
    padding-bottom: 100%;
}
i.insert_icon {
    left: -1px;
    bottom: 1px;
    font-weight: normal;
    font-size: 29px;
}
strong.fa-stack-1x.insert_text {
    left: -1px;
    font-size: 14px;
    bottom: 1px;
}
.blue {
    color: #007bff!important ;
}
i#cancel_btn {
    font-size: 20px;
    position: relative;
    bottom: 13px;
    right: 14px;
}
#insetred_thumb_img {
    width: 166px;
    height: 127px;
}
#insetred_large_img {
    width: 260px;
    height: 160px;
}
.list_style_none {
    list-style: none;
}
li.inserted_tumb {
    text-align: center;
    padding: 1%;
}
.media-content li.inserted_large {
    width: 25%;
    padding: 1%;
}
.icon_large {
    font-size: 161px;
}
.icon_thumb {
    font-size: 149px;
}
.small_inserted_view {
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    padding: 0.375rem 0.75rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(206, 212, 218);
    border-image: initial;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.width_22 {
    width: 16%;
}
span#size {
    font-size: 13px;
    padding-left: 4%;
}
#create_upload_modal_iframe {
    width: 100%;
    max-height: calc(100vh - 185px);
    border: none;
    height: calc(100vh - 185px);
}
#modal_upload_div
{
    width: 100% !important;
    max-width: 100% !important;
    height: calc(100vh - 143px);
    max-height: calc(100vh - 143px) ;
    overflow: auto;
}
#modal_dialog_upload {
    width: 95%!important;
    max-width: 95%!important;
}
.category_upload_body
{
    width: 100% !important;
    max-width: 100% !important;
    height: calc(100vh - 150px);
    max-height: calc(100vh - 150px);
    overflow: auto;
}
.create_category_modal_iframe {
    width: 100%;
    max-height: calc(100vh - 235px) ;
    border: none;
    height:calc(100vh - 235px) ;
}
.modal_dialog_category{
    width: 95%!important;
    max-width: 95%!important;
}
.padding_0
{
    padding: 0px;
}
.top_js_tree_folder {
    color: #007bff;
    font-size: 14px;
}
.show_top_folder_name{
    margin-left: 2%;
}
.jstree-default .jstree-themeicon{
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #007bff;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background-image: none !important;
    font-size: 15px;
}
.jstree_a_tag{
    font-size: 12px;
}
i.jstree-icon.jstree-themeicon:before {
    content: "\f07c";
}
.link_fontawsome {
    font-size: 14px;
    color: #007bff;
}
.back_to_category_size{
    width: 100%;
    padding-top: 15%;
    text-align: center;
    min-height: 183px;
}
.modal_body_edit_picture {
    width: 100% !important;
    max-width: 100% !important;
    height: calc(100vh - 135px);
    max-height: calc(100vh - 135px);
    overflow: auto;
}
.modal_body_edit_file_name {
    width: 100% !important;
    max-width: 100% !important;
    height: 90%;
    max-height: 90%;
    overflow: auto;
}
.create_edit_picture_modal_iframe {
    width: 100%;
    max-height: calc(100vh - 275px);
    height: calc(100vh - 275px);
    border: none;
}
.create_edit_category_modal_iframe {
    width: 100%;
    max-height: calc(100vh - 275px);
    height: calc(100vh - 275px);
    border: none;
}
.create_modal_content_edit_picture {
    max-height: calc(100vh - 40px);
    height: calc(100vh - 69px);
}
.create_modal_content_edit_category {
    max-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
}
.create_edit_file_name_modal_iframe {
    width: 100%;
    max-height: calc(100vh - 290px);
    height: calc(100vh - 290px);
    border: none;
}

/*____________________________________ADD tooltip csss_______________________________________________*/
.tooltip_copy {
    position: relative;
    display: initial;

}
.tooltip_copy .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 10;
}

.tooltip_copy .tootltip_public_path {
    background-color: #007bff;
}

.tooltip_copy .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;

}

.tooltip_copy:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*____________________________________End tooltip css_______________________________________________*/

/*____________________________________Add Loader css_______________________________________________*/
.total_loader {
    background-color: rgba(50, 50, 50, 0.7);
    color: #d9d9d9;
    font-weight: bolder;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50000;
}

.total_loader .total_loader_content {
    position: absolute;
    height: 140px;
    width: 100%;
    top: 50%;
    margin-top: -70px;
}

.total_loader .spinner_area {
    width: 50px;
    margin: 10px auto;
}

.total_loader .text_area {
    background-color: rgba(255, 255, 255, 0.8);
    color: #464646;
    text-align: center;
    padding: 10px 0;
}
.spinner_rects {
    /*margin: 100px auto;*/
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner_rects > div {
    background-color: #d9d9d9;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner_rects .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner_rects .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner_rects .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner_rects .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}
/*____________________________________End Loader css_______________________________________________*/

/*____________________________________Add Full Screem View css_______________________________________________*/
.demos {
    text-align: center;
    margin-top: 20px;
    width: 490px;
    margin: auto;}

.demo-image {
    cursor: url("http://tholman.com/intense-images/img/plus_cursor.png") 25 25, auto;

}


/*____________________________________End Full Screem View css_______________________________________________*/
